.vm-form-error{
    color: red;
}

.vm-form-tag{
    display: inline-block;
    min-width: 1.09rem;
    height: .28rem;
    text-align: center;
    font-size: .12rem;
    color: #878787;
    border-radius: 1rem;
    box-sizing: border-box;
    border: 1px solid #878787;
    line-height: .26rem;
    margin-right: 0.08rem;
    margin-bottom: 0.08rem;
}

.vm-form-tag:nth-child(3n){
    margin-right: 0px;
}

.vm-form-tag-selected{
    color: #6281c2;
    border: 1px solid #6281c2;
}

.vm-form-radios .vm-form-box-inner, .vm-form-checkboxes .vm-form-box-inner{
    margin-top: 0.12rem;
}